@model UserUpdateProfileVm
<form method="post">
	<div class="row">
		<div class="col-lg-6 col-12  mb--30">
			<input asp-for="FullName" placeholder="Full name">
			<span asp-validation-for="FullName" class="text-danger"> </span>
		</div>
		<div class="col-lg-6 col-12  mb--30">
			<input asp-for="UserName" placeholder="User name">
			<span asp-validation-for="UserName" class="text-danger"> </span>
		</div>
		<div class="col-12  mb--30">
			<input asp-for="Email" placeholder="Email">
			<span asp-validation-for="Email" class="text-danger"> </span>
		</div>
		<div class="col-12  mb--30">
			<input asp-for="CurrentPassword" placeholder="Current password">
			<span asp-validation-for="CurrentPassword" class="text-danger"> </span>
		</div>
		<div class="col-12  mb--30">
			<input asp-for="NewPassword" placeholder="New password">
			<span asp-validation-for="NewPassword" class="text-danger"> </span>
		</div>
		<div class="col-12  mb--30">
			<input asp-for="ConfirmPassword" placeholder="Confirm password">
			<span asp-validation-for="ConfirmPassword" class="text-danger"> </span>
		</div>
		<div class="col-12">
			<button type="submit" class="btn btn--primary">Save Changes</button>
		</div>
	</div>
</form>
<div asp-validation-summary="ModelOnly"  class="text-danger">

</div>