@model UserLoginVm
<main class="page-section inner-page-sec-padding-bottom">
	<div class="container">
		<div class="row justify-content-center	 ">
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
				<!-- Login Form s-->
				<form method="post">
					<div class="login-form">
						<h4 class="login-title">Returning Customer</h4>
						<p><span class="font-weight-bold">I am a returning customer</span></p>
						<div class="row">
							<div class="col-lg-6 mb--20">
								<label asp-for="UserNameOrEmail"></label>
								<input asp-for="UserNameOrEmail" class="mb-0 form-control"
									   placeholder="Enter your User name or Email">
								<span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
							</div>
					
							<div class="col-lg-6 mb--20">
								<label asp-for="Password"></label>
								<input asp-for="Password" class="mb-0 form-control"
									   placeholder="Enter your Password">
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>

							<div class="col-lg-6 mb--20">
								<label asp-for="RememberMe"></label>
								<input asp-for="RememberMe" >
								<span asp-validation-for="RememberMe"></span>
							</div>
							<div class="col-md-12">
								<button type="submit" class="btn btn-outlined">Login</button>
								<a asp-action="register" class="btn btn-outlined">Register</a>

							</div>
						</div>
					</div>
				</form>
			   <div asp-validation-summary="ModelOnly" class="text-danger"></div>

			</div>
		</div>
	</div>
</main>
@section Scripts {
	@Html.Partial("_ValidationScriptsPartial")
}